.div1{
  width:200px;
  background-color: #80A24A;
  text-align: center;
  color: white;
}

.div2 {
  width:200px;
  background-color: #9DC45F;
  display:inline-block;
}
.son {
  width:800px;
  margin-left: 25%;
  margin-top: 10%
}
.button {
  background-color: #9DC45F;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width:198px;
}
.span {
  cursor: pointer;
  display: inline;

  transition: 0.5s;
}

.span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover {
  background-color: #80A24A;
  color: white;
}
div app-leave{
display:inline;


}
