<div *ngIf="state" style="width:70%; margin:50px auto" >
    <h5>请假进程：</h5>
    <ol class="ui-step ui-step-blue ui-step-3">

  
        <li class={{l1}}>
         <div class="ui-step-line"></div>
            <div class="ui-step-cont" >
                <span class="ui-step-cont-number">1</span>
                <span class="ui-step-cont-text">部门经理审批通过</span>
            </div>
        </li>
    

        <li class={{l2}}>
            <div class="ui-step-line"></div>
            <div class="ui-step-cont">
                <span class="ui-step-cont-number">2</span>
                <span class="ui-step-cont-text">副总经理审批通过</span>
            </div>
        </li>

        <li class={{l3}}>
            <div class="ui-step-line"></div>
            <div class="ui-step-cont">
                <span class="ui-step-cont-number">3</span>
                <span class="ui-step-cont-text">总经理审批通过</span>
            </div>
        </li>
    </ol>
</div>	